<div class="container">
    <form id="form" method="POST" action="/book/create" class="form">
        <h3 class="form-heading"><%= __('Add book:') %></h4>
        <%- include ../common/flash.ejs %>
        <div class="input-group">
            <input class="form-control" name="isbn" type="text" placeholder="ISBN" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><%= __('Add') %></button>
            </span>
        </div>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
    <table class="table table-striped table-hover" style="margin-top: 30px;">
        <thead>
            <tr>
                <td><%= __('Title') %></td>
                <td><%= __('Author') %></td>
                <td><%= __('Cateogry') %></td>
                <td>ISBN</td>
                <td><%= __('Create date:') %></td>
                <td><%= __('Remove') %></td>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(function(book)  { %>
                <tr class="book">
                    <td class="title"><%= book.title %></td>
                    <td class="author">
                        <% book.authors.forEach(function (author) { %>
                            <span class="author" style="display:block;"><%= author %></span>
                        <% }); %>
                    </td>
                    <td class="category">
                        <% book.categories.forEach(function (category) { %>
                            <span class="category"><%= category %></span>
                        <% }); %>
                    </td>
                    <td class="isbn">
                        <%= book.isbn %>
                    </td>
                    <td class="create-date">
                        <%= book.createdAt %>
                    </td>
                    <td>
                        <a href="/book/destroy?isbn=<%= book.isbn %>" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
