<h4>Dodaj książkę:</h4>

<div class="row-fluid">

<form id="form" method="POST" action="/book/create" class="form form-horizontal col-md-4" style="margin: 0 auto;">
    <% if (flash && flash.err) { %>
        <ul class="alert">
        <% Object.keys(flash.err).forEach(function (error) { %>
            <li><%= error %>: <%- JSON.stringify(flash.err[error]) %></li>
        <%  }) %>
        </ul>
    <% } %>
    <div class="form-group">
        <label for="isbn">ISBN: </label>
        <input class="form-control" name="isbn" type="text" />
    </div>
    <input type="submit" value="Dodaj">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <td>Tytuł</td>
            <td>Autor</td>
            <td>Kategoria</td>
            <td>ISBN</td>
            <td>Data dodania</td>
            <td>Usuń</td>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(function(book)  { %>
            <tr class="book">
                <td class="title"><%= book.title %></td>
                <td class="author">
                    <% book.authors.forEach(function (author) { %>
                        <span class="author" style="display:block;"><%= author %></span>
                    <% }); %>
                </td>
                <td class="category">
                    <% book.categories.forEach(function (category) { %>
                        <span class="category"><%= category %></span>
                    <% }); %>
                </td>
                <td class="isbn">
                    <%= book.isbn %>
                </td>
                <td class="create-date">
                    <%= book.createdAt %>
                </td>
                <td>
                    <a href="/book/destroy?isbn=<%= book.isbn %>">Usuń</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
